version: '3.8'

name: ccx-faucet
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - faucet-network

  api:
    build: .
    depends_on:
      - redis
    environment:
      - NODE_ENV=development
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "3066:3066"
    networks:
      - faucet-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  faucet-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.29.0.0/16
          gateway: 172.29.0.1

